.grid-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    @media (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
    .box-menu-container {
        // I used a container and a content as I explained in the mixins file
        overflow: hidden;
        @include add-shadow;
    }
    .box-menu-content {
        width: 100%;
        //the container was a bit bigger than the content
        margin-bottom: -5%;
        @include make-a-zoom;
    }
}

.soon {
    width: 250px;
    height: 40px;
    line-height: 40px;
    background-color: $color-header;
    color: $color-header__title;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    font-size: 1.3rem;
    #soon-dot-first {
        animation-name: soon-dot-first;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    #soon-dot-second {
        animation-name: soon-dot-second;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    #soon-dot-third {
        animation-name: soon-dot-third;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

@keyframes soon-dot-first {
    20% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes soon-dot-second {
    45% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes soon-dot-third {
    70% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}