.menu-la-note-enchantee {
    background-color: $la-note-enchantee-background-color;
    color: $la-note-enchantee-text-color;
    font-family: 'Devonshire';
}

.menu-box-title-text-la-note-enchantee {
    font-weight: normal;
    font-size: 3vw;
    @include surlign ($la-note-enchantee-text-color);
}