.menu-la-palette-du-gout {
    background-color: $la-palette-du-gout-background-color;
    color: $la-palette-du-gout-text-color;
    font-family: 'Caveat';
}

.menu-title-la-palette-du-gout {
    font-family: 'Kaushan Script';
    font-size: 6vw;
    letter-spacing: 0.5vw;
    @include color-gradiant ($la-palette-du-gout-title-color-left, $la-palette-du-gout-title-color-right)
}

.menu-box-title-text-la-palette-du-gout {
    font-size: 2.5vw;
    @include surlign ($la-palette-du-gout-text-color);
}