.menu-le-chic-a-la-francaise {
    background-color: $le-chic-a-la-francaise-background-color;
}

.menu-tittle-le-chic-a-la-francaise {
    @include color-gradiant ($le-chic-a-la-francaise-menu-box-first-text-color, $le-chic-a-la-francaise-menu-box-third-text-color)
}

.menu-le-chic-a-la-francaise-box-first {
    color: $le-chic-a-la-francaise-menu-box-first-text-color;
}

.menu-le-chic-a-la-francaise-box-second {
    color: $le-chic-a-la-francaise-menu-box-second-text-color;
}

.menu-le-chic-a-la-francaise-box-third {
    color: $le-chic-a-la-francaise-menu-box-third-text-color;
}

.menu-box-tittle-text-le-chic-a-la-francaise-first {
    @include surlign ($le-chic-a-la-francaise-menu-box-first-text-color);
}

.menu-box-tittle-text-le-chic-a-la-francaise-second {
    @include surlign ($le-chic-a-la-francaise-menu-box-second-text-color);
}

.menu-box-tittle-text-le-chic-a-la-francaise-third {
    @include surlign ($le-chic-a-la-francaise-menu-box-third-text-color);
}