.menu-le-chic-a-la-francaise {
    background-color: $le-chic-a-la-francaise-background-color;
}

.menu-le-chic-a-la-francaise-box-first {
    color: $le-chic-a-la-francaise-menu-box-first-text-color;
    ;
}

.menu-le-chic-a-la-francaise-box-second {
    color: $le-chic-a-la-francaise-menu-box-second-text-color;
    ;
}

.menu-le-chic-a-la-francaise-box-third {
    color: $le-chic-a-la-francaise-menu-box-third-text-color;
    ;
}