                    @mixin add-shadow {
                        box-shadow: 0 2px 18px 0 rgba(0, 0, 0, .2);
                    }
                    
                    @mixin color-gradiant ($color-left, $color-right) {
                        background: linear-gradient(to right, $color-left, $color-right);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    
                    //source https://w3bits.com/css-image-hover-zoom/
                    //I used a container with overflow: hidden property which doesn't allow the content to be expand more than this container
                    @mixin make-a-zoom {
                        transition-duration: 1s;
                        &:hover {
                            background: no-repeat 0 -50%;
                            transform: scale(1.2);
                            opacity: 0.5;
                        }
                    }
                    
                    // source: https://www.w3schools.com/howto/howto_css_shake_image.asp
                    @mixin make-a-freeze {
                        &:hover {
                            /* Start the shake animation and make the animation last for 0.5 seconds */
                            animation: shake 0.7s;
                            /* When the animation is finished, start again */
                            animation-iteration-count: infinite;
                        }
                    }
                    
                    @keyframes shake {
                        0% {
                            transform: translate(1px, 1px) rotate(0deg);
                        }
                        10% {
                            transform: translate(-1px, -2px) rotate(-1deg);
                        }
                        20% {
                            transform: translate(-3px, 0px) rotate(1deg);
                        }
                        30% {
                            transform: translate(3px, 2px) rotate(0deg);
                        }
                        40% {
                            transform: translate(1px, -1px) rotate(1deg);
                        }
                        50% {
                            transform: translate(-1px, 2px) rotate(-1deg);
                        }
                        60% {
                            transform: translate(-3px, 1px) rotate(0deg);
                        }
                        70% {
                            transform: translate(3px, 1px) rotate(-1deg);
                        }
                        80% {
                            transform: translate(-1px, -1px) rotate(1deg);
                        }
                        90% {
                            transform: translate(1px, 2px) rotate(0deg);
                        }
                        100% {
                            transform: translate(1px, -2px) rotate(-1deg);
                        }
                    }
                    
                    // source : https://www.grafikart.fr/tutoriels/hover-souligner-css-1178
                    @mixin surlign ($color-surlign) {
                        text-decoration: none;
                        background: linear-gradient(to top, $color-surlign 0%, $color-surlign 0.30vw, transparent 0.31vw) no-repeat left bottom / 0 100%;
                        transition: background-size .5s;
                        &:hover {
                            background-size: 100% 100%;
                        }
                    }
                    
                    @mixin query-responsive {
                        @media (max-width: 600px) {
                            font-size: 1.5rem;
                        }
                    }