// Header
$color-header: rgb(87, 156, 135);
$color-header__title: rgb(253, 203, 70);
$font-size-header__title: 1.5rem;
// Footer
$color-footer: rgb(87, 156, 135);
$font-size-footer__title: 1.5rem;
$color-footer__title: rgb(253, 203, 70);
// Menu
//La note enchantee
$la-note-enchantee-background-color: rgb(252, 223, 219);
$la-note-enchantee-text-color: rgb(61, 19, 25);
//Le chic a la francaise
$le-chic-a-la-francaise-background-color: rgb(255, 245, 254);
$le-chic-a-la-francaise-menu-box-first-text-color: rgb(198, 116, 18);
$le-chic-a-la-francaise-menu-box-second-text-color: rgb(158, 103, 165);
$le-chic-a-la-francaise-menu-box-third-text-color: rgb(110, 75, 204);
//Le delice des papilles
$le-delice-des-papilles-background-color: rgb(237, 239, 239);
$le-delice-des-papilles-text-color: rgb(0, 0, 0, 0.8);
$le-delice-des-papilles-tittle-color-left: rgb(2, 40, 221);
$le-delice-des-papilles-tittle-color-middle: rgb(6, 112, 243);
$le-delice-des-papilles-tittle-color-right: rgb(34, 157, 259);
//La palette du gout
$la-palette-du-gout-background-color: rgb(253, 255, 253);
$la-palette-du-gout-text-color: rgb(0, 0, 0, 0.8);
$la-palette-du-gout-tittle-color-left: #3d923a;
$la-palette-du-gout-tittle-color-right: #bfff81;