$colour-header: rgb(87, 156, 135);
$font-size-header__title: 1.5rem;
$colour-footer: rgb(87, 156, 135);
$font-size-footer__title: 1.5rem;
$colour-header__title: rgb(253, 203, 70);
$colour-footer__title: rgb(253, 203, 70);