.header {
    font-size: $font-size-header__title;
    background-color: $color-header;
    color: $color-header__title;
    text-align: center;
    height: 85px;
    line-height: 85px;
    margin-top: -32px;
    margin-left: -8px;
    margin-right: -8px;
    width: 1fr;
    .header__tittle {
        text-decoration: none;
        color: $color-header__title;
    }
}