.tittle {
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: $menu-tittle-color;
    font-size: 4.5vw;
}

.menu {
    text-align: center;
    padding: 6%;
    margin-right: 10%;
    margin-left: 10%;
    @include add-shadow;
    .menu-tittle-withPicture {
        .menu-picture {
            width: 12%;
            height: 12%;
        }
        .menu-tittle {
            margin-top: 1%;
            // font-size: 4vw;
        }
    }
    .menu-tittle-withoutPicture {
        .menu-tittle {
            margin-top: 7%;
            margin-bottom: 12%;
        }
    }
    .menu-box {
        margin-top: 7%;
        .menu-box-tittle {
            display: flex;
            align-items: center;
            .menu-box-tittle_left-line {
                height: 2%;
                width: 30%;
                // margin: auto;
                overflow: hidden;
            }
            .menu-box-tittle_text {
                // font-size: 2.5vw;
                margin: auto;
            }
            .menu-box-tittle_right-line {
                height: 2%;
                width: 30%;
                // margin: auto;
                overflow: hidden;
            }
        }
        .menu-box-dish {
            li {
                line-height: 20%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.9vw;
                text-indent: -2.2rem;
                // margin-right: 90px;
                .bold {
                    font-size: 2.1vw;
                    font-weight: bold;
                }
            }
        }
    }
    .menu-bottom-full {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1vw;
        .menu-bottom-full-picture {
            width: 7%;
            height: 7%;
        }
        .menu-bottom-full-tittle {
            margin-left: 5%;
            font-size: 3vw;
        }
    }
    .menu-bottom-empty {
        height: 10vw;
    }
}