.title {
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: $menu-title-color;
    font-size: 4.5vw;
}

.menu {
    text-align: center;
    padding: 6%;
    margin-right: 10%;
    margin-left: 10%;
    @include add-shadow;
    @media (max-width: 600px) {
        margin-right: 5%;
        margin-left: 5%;
    }
    .menu-title-withPicture {
        .menu-picture {
            width: 12%;
            height: 12%;
        }
        .menu-title {
            margin-top: 1%;
        }
    }
    .menu-title-withoutPicture {
        .menu-title {
            margin-top: 7%;
            margin-bottom: 12%;
        }
    }
    .menu-box {
        margin-top: 7%;
        .menu-box-title {
            display: flex;
            align-items: center;
            .menu-box-title_left-line {
                height: 2%;
                width: 30%;
                // margin: auto;
                overflow: hidden;
            }
            .menu-box-title_text {
                // font-size: 2.5vw;
                margin: auto;
            }
            .menu-box-title_right-line {
                height: 2%;
                width: 30%;
                // margin: auto;
                overflow: hidden;
            }
        }
        .menu-box-dish {
            li {
                line-height: 20%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.9vw;
                text-indent: -2.2rem;
                @media (max-width: 600px) {
                    text-align: center;
                    line-height: 100%;
                    flex-direction: column;
                    font-size: 1.3rem;
                }
                .bold {
                    font-size: 2.1vw;
                    font-weight: bold;
                    @media (max-width: 600px) {
                        font-size: 1.3rem;
                    }
                }
            }
            @media (max-width: 600px) {
                margin-bottom: 25%;
            }
        }
    }
    .menu-bottom-full {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1vw;
        .menu-bottom-full-picture {
            width: 7%;
            height: 7%;
        }
        .menu-bottom-full-title {
            margin-left: 5%;
            font-size: 3vw;
            @include query-responsive;
        }
    }
    .menu-bottom-empty {
        height: 10vw;
    }
}